* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
}
.game-wraper {
  height: 100%;

  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  /* flex: 0 0 80.333333%; */
}

.welcome-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid black;
  padding: 50px;
}
.card {
  height: 200px;
  width: 300px;
  flex-basis: 25%;
  border: 1px solid pink;
  background: black;
}
.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  object-position: top;
  background-size: auto;
  content: url("https://janissharesscienceforkids.files.wordpress.com/2014/03/cats-family.gif");
  min-height: 20px;
}
.new_game {
  display: flex;
  padding: 12px;
  margin: 0 auto;
  display: none;
}
@media screen and (max-width: 1000px) {
  .card {
    height: 100px;
    width: 200px;
  }
}
@media screen and (max-width: 890px) {
  .card {
    height: 70px;
    width: 160px;
  }
}
@media screen and (max-width: 700px) {
  .card {
    height: 50px;
    width: 100px;
  }
}
@media screen and (max-width: 470px) {
  .card {
    height: 30px;
    width: 70px;
  }
}
